*.tab
*.json
*.dot
*.csv
cvsProd/
.project
.pydevproject
rest/venv
.DS_Store
*/__pycache__/*
*.pyc
*.class
*.ratings
generators/ratings
generators/dists
generators/files.conf
mahout/jars/*
*/.idea/*
*.iml
*/out/*
*.txt
*.gv
*.pdf
*.predictions
*.prediction
*.score
*.tmptex
