*.tab
*.json
*.dot
cvsProd/
.project
.pydevproject
rest/venv
.DS_Store
*/__pycache__/*
*.pyc
*.class
*.ratings
mahout/jars/*
*/.idea/*
*.iml
*/out/*
*.txt
*.gv
*.pdf
*.predictions
*.prediction
*.score
*.tmptex
*.csv
*.conf
*.sh~
