<html>
  <head>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>SuchWow</h1>
        <p>Find your next fashion thingy</p>
        <hr>
          <form action="." method="get">
            User ID: <input type="text" name="userid" value="{{.userId}}" />
            <button type="submit">Endre</button>
            Forslag:
            {{range $i, $e := .users}}
            {{if $i}}- {{end}}<a href="/?userid={{$e}}">{{$e}}</a>
            {{end}}
          </form>
        <hr>
        <h2>Your recommended products</h2>
      </div>
      {{$userId := .userId}}
      {{range .recommendedProducts}}
      <div class="row">
        <h4>{{.Name}}</h4>
        <img src="{{.Image}}" width="200px" alt="{{.Name}}" class="img-thumbnail pull-left" style="margin-right:30px">
        <p>{{.Description}}</p>
        <a class="btn btn-default" href="/add?user_id={{$userId}}&event_id=product_detail_clicked&product_id={{.Id}}">Click</a>
        <a class="btn btn-default" href="/add?user_id={{$userId}}&event_id=product_wanted&product_id={{.Id}}">I want</a>
        <a class="btn btn-default" href="/add?user_id={{$userId}}&event_id=product_purchase_intended&product_id={{.Id}}">Purchase</a>
      </div>
      {{end}}
      <br />
    </div>
  </body>
</html>
